[submodule "addons/godot_component_system"]
	path = addons/godot_component_system
	url = https://github.com/beepe0/godot_submodules.git
	branch = godot_component_system
[submodule "addons/godot_console_manager"]
	path = addons/godot_console_manager
	url = https://github.com/beepe0/godot_submodules.git
	branch = godot_console_manager
[submodule "addons/godot_debug_draw_system"]
	path = addons/godot_debug_draw_system
	url = https://github.com/beepe0/godot_submodules.git
	branch = godot_debug_draw_system
